body {
    max-width: 1600px;
    font-size: 1.5rem;
    background: linear-gradient(161.28deg, #0E1259 4.72%, #3C45E8 97.73%);
    font-family: Open Sans;
    width: 100%;
}

a {

    text-decoration: none;
    color: #fff;
}

ul {
    display: flex;
    justify-content: space-evenly;
}

ul li {

    color: white;
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 20px;

}

li {
    cursor: pointer;
    list-style: none;
}

nav {

    display: flex;
    justify-content: space-between;

}

nav img {
    left: 17px;
    position: relative;

}


.menu1 {
    display: flex;
    gap: 1rem;
    right: 4%;
    top: 10px;
    position: relative;

}

.bg_principal {
    background-image: url('./img/02.jpg');
    max-height: 827px;
    max-width: 1600px;
    height: 100%;
    width: 100%;
    position: absolute;
}

.btn_mobile {
    display: none;
}

.chamada {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.chamada1 {
    max-height: 204px;
    max-width: 643px;
    width: 100%;
    height: 100%;
    top: 261px;
    position: relative;
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
    color: white;
}

.btn1 {
    cursor: pointer;
    position: absolute;
    height: 83px;
    max-width: 540px;
    width: 100%;
    top: 475px;
    border-radius: 16px;
    background-color: #FBEF34;
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 700;
    text-align: center;

}

.btn1 .icon1 {
    height: 50px;
    width: 50px;
    position: relative;
    top: 10%;

}

.faixa {
    position: relative;
    width: 100%;
    top: 770px;
    Height: 44px;
}

.retangulo_chamada {
    background-image: url('./img/Rectangle_5.jpg');
    position: absolute;
    height: 521px;
    width: 100%;
    top: 808px;

}

.btn2 {
    display: flex;
    justify-content: center;
    height: 221px;
    width: 100%;
    top: 162px;
    position: relative;
    cursor: pointer;
    align-items: center;
    text-align: center;
}

.faixa_2 {
    position: relative;
    width: 100%;
    top: 1275px;
    Height: 44px;
}

.bg_2 {
    background-image: url('./img/bg2.jpg');
    position: absolute;
    width: 100%;
    top: 1300px;
    /* 
    max-height: 843px; */
    height: 100%;
}

.quem_somos {
    text-align: center;
    font-size: 3rem;
    top: 10%;
    display: grid;
    position: absolute;
    justify-items: center;
    color: #fff;
}

.faixa_3 {
    position: relative;
    width: 100%;
    top: 1786px;
    Height: 44px;
}

footer {
    width: 100%;
    top: 2240px;
    position: absolute;
    text-align: center;
}

footer p {
    position: relative;
    color: #fff;
    font-size: 1rem;
    margin-bottom: 2%;
}
@media (max-width: 550px) {
    .bg_principal {
        background-image: url('/img/mbile.jpg');
        width: 100%;

    }

    nav img {
        display: flex;
        justify-content: center;
        text-align: center;

    }

    nav .logo {
        display: flex;
        justify-content: center;
        position: relative;
    }

    ul li {
        align-items: center;
        display: grid;
        background-color: #FBEF34;
        width: 350px;
        height: 100px;
        margin-top: 50x;

    }

    .menu1 {
        display: none;
        position: absolute;
        width: 100%;
        top: 80px;
        right: 0px;
        height: calc(100vh - 80px);
        z-index: 1000;
        color: #000;
    }

    .menu1:hover {
        background-color: darkgray;

    }

    .bg_2 {
        background-image: url(/img/mobile1.jpg);
        top: 1201px;
    }

    .btn_mobile {
        display: block;
        width: 50px;
        height: 50px;
        margin-right: 2rem;
        margin-top: 2rem;
        cursor: pointer;
    }

    .btn_mobile img {
        width: 50px;
        height: 50px;
        display: block;
    }

    /* 
    .btn_mobile:hover {
        background-color: #fff;
    } */

    #nav.active .menu1 {
        display: GRID;
        BACKGROUND-COLOR: #0050C3;
        text-align: center;
    }

    nav a {
        padding: 1rem 0.5rem;
        margin: 1rem 0 0 0;
        color: #000;
    }

    .chamada1 {
        top: 87px;
        font-size: 33px;
    }

    .retangulo_chamada {
        top: 660px;
    }

    .faixa {
        top: 428px;
    }

    .faixa_2 {
        top: 917px;
    }

    .faixa_3 {
        top: 1710px;
    }

    .btn1 {
        top: 50%;
    }

    .quem_somos {
        font-size: 30px;
        top: 20%;
    }

    footer {
        display: block;
        top: 1703px;
        position: relative;
        padding: 1rem;
    }

    footer p {
        padding: 1rem;
    }
}