body {
    font-size: 1.5rem;
    max-width: 1280px;
    background: linear-gradient(161.28deg, #0E1259 4.72%, #3C45E8 97.73%);
    font-family: Open Sans;



}

ul {
    display: flex;
    justify-content: space-evenly;
}

ul li {
    margin-left: 2rem;
    color: white;
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}

li {
    cursor: pointer;
    list-style: none;
    float: right;
}

nav {

    display: flex;
    justify-content: space-evenly;

}

nav img {
    height: 241.23809814453125px;
    width: 374px;
    left: 17px;
    top: -8.6190185546875px;
    border-radius: 0px;


}

.logo {
    float: left;
    position: absolute;
    left: 0;
}

.menu1 {
    margin: 2% 0 0 50%;
    float: right;
    position: absolute;

}

.bg_principal {
    background-image: url('./img/02.jpg');
    width: 100%;
    max-height: 827px;
    height: 100%;
    position: absolute;
}

.chamada {
    position: relative;
    text-align: center;
}

.chamada1 {
    height: 204px;
    width: 643px;
    display: flex;
    justify-content: center;
    left: 318px;
    top: 261px;
    position: absolute;
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}

.btn1 {
    cursor: pointer;
    position: absolute;
    height: 83px;
    width: 540px;
    left: 372px;
    top: 475px;
    border-radius: 16px;
    background-color: #FBEF34;
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 700;
    text-align: center;

}

.btn1 .icon1 {
    height: 50px;
    width: 50px;
    position: relative;
    top: 10%;

}

.faixa {
    position: relative;
    width: 100%;
    top: 770px;
    Height: 44px;
}

.retangulo_chamada {
    background-image: url('./img/Rectangle_5.jpg');
    position: absolute;
    height: 521px;
    width: 100%;
    top: 808px;

}

.btn2 {
    height: 221px;
    width: 710px;
    left: 251px;
    top: 162px;
    position: absolute;
    cursor: pointer;
}

.faixa_2 {
    position: relative;
    width: 100%;
    top: 1275px;
    Height: 44px;
}

.bg_2 {
    background-image: url('./img/bg2.jpg');
    position: absolute;
    width: 100%;
    top: 1300px;
    max-height: 843px;
    height: 100%;
}

.quem_somos {
    text-align: center;
    font-size: 3rem;
    top: 10%;
    left: 30%;
    display: grid;
    position: absolute;
    justify-items: center;
    width: 500px;
    color: #fff;
}

.faixa_3 {
    position: relative;
    width: 100%;
    top: 1970px;
    Height: 44px;
}

footer {
    width: 100%;
    top: 2116px;
    position: absolute;
    text-align: center;
}
footer h3{
color: #fff;
font-size: 1rem;
}


@media (min-width: 600px) {

}